<?php
//*** LDAP LAB: copy this file to /config/autoload/auth-ldap.local.php and change as needed
use Laminas\Ldap\Ldap;
return [
    'service_manager' => [
        'services' => [
            'auth-ldap-config' => [
                'server1' => [
                    'host'              => '',  //*** LDAP LAB: enter IP address of OpenLDAP host
                    'username'          => 'CN=admin,DC=company,DC=com',
                    'password'          => 'password',
                    'bindRequiresDn'    => true,
                    'accountDomainName' => 'company.com',
                    'baseDn'            => 'DC=company,DC=com',
                    'accountCanonicalForm' => Ldap::ACCTNAME_FORM_DN,
                ],
            ],
        ],
    ],
];
